.VoteResult-item {
  height: 34px;
  background: rgb(236, 241, 248);
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  line-height: 34px;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 13px;
  position: relative;
  overflow: hidden;
}

.VoteResult-item-inner {
  width: 100%;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  padding: 8px;
  left: 0;
  z-index: 10;
}

.VoteResult-progress {
  background: #c1d4e9;
  height: 34px;
  position: absolute;
  left: 0;
}