.Vote-item {
  height: 34px;
  background: rgb(236, 241, 248);
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  line-height: 34px;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 13px;
}

.Vote-item:hover {
  background: #dde7f3;
}

.Vote-item-percent {
  margin-left: auto;
  display: flex;
  align-items: center;
}
